@import "tailwindcss/components";
@import "tailwindcss/utilities";

.main {
	flex-direction: column;
	display: flex;
}


h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }


h2 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 20px; text-align: center; }


p { color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; }

.tab_ul {
    list-style: none;
}
.tab_li {
    margin: 0 0 10px 0;
    display: inline-block;
}
.tab_button {
    border: 1;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    border-radius: 50px;
    margin-right: 2em;
    background-color: rgba(0,0,255,0.1);
    border: none;
}
.tab_references {

    background-color: rgba(0,255,0,0.1);
}

.banner {
    min-width: 30em;
    max-width: 86%;
    margin-right: auto;
    margin-left: auto;
}

.main{
	min-width: 30em;
	max-width: 86%;
	margin-right: auto;
	margin-left: auto;
}

.block_section{
	display: flex;
}
.block_text {
	margin-right: 1em;
}
.block_image{
	display: inline-block;
	margin-right: 10em;
	width: 190px;
	margin-top: 0px;
}

.footer{
	text-align: center;
}

.block {
	display: inline-block;
	margin-right: 7em;
	width: 210px;
	margin-top: 0px;
}

.footerStyle{
    margin-top: 10em;
    margin-bottom: 0em;  
    position: static;
    height: min-content;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(241,225,194,0.5);
    color: #685206;
    text-align: center;
}

